[Unit]
Description=nsupdate.info updating service
After=network.target

[Service]
Environment="CONFIG=/etc/nsupdate.sh"
Type=simple
ExecStart=/usr/bin/nsupdate.sh
User=nobody

[Install]
WantedBy=multi-user.target
